{% extends "base.html" %}
{% block content %}
{% if page.nb_url %}
    <a href="{{ page.nb_url }}" title="下载此文件" class="md-content__button md-icon">
        {% include ".icons/material/file-download-outline.svg" %}
    </a>
{% endif %}
{{ super() }}
{% endblock content %}
{% block extrahead %}
<link href="example.com" rel="icon" />
<link
    href="https://cdn.jsdelivr.net/npm/@fontsource/mononoki@5.1.0/index.min.css"
    rel="stylesheet"
/>
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/@ayahub/webfont-harmony-sans-sc@1.0.0/css/index.min.css"
/>
{% endblock extrahead %}
