@font-face {
    font-family: Mononoki;
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
        url("https://cdn.jsdelivr.net/npm/@fontsource/mononoki@5.1.0/files/mononoki-latin-400-normal.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/npm/@fontsource/mononoki@5.1.0/files/mononoki-latin-400-normal.woff")
            format("woff");
}

@font-face {
    font-family: "HarmonyOS Sans SC";
    src:
        local(HarmonyOS_Sans_SC_Light),
        local("HarmonyOS Sans SC Light"),
        url("https://cdn.jsdelivr.net/npm/@ayahub/webfont-harmony-sans-sc@1.0.0/fonts/HarmonyOS_Sans_SC_Light.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/npm/@ayahub/webfont-harmony-sans-sc@1.0.0/fonts/HarmonyOS_Sans_SC_Light.woff")
            format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HarmonyOS Sans SC";
    src:
        local(HarmonyOS_Sans_SC_Regular),
        local(HarmonyOS_Sans_SC),
        local("HarmonyOS Sans SC Regular"),
        local("HarmonyOS Sans SC"),
        url("https://cdn.jsdelivr.net/npm/@ayahub/webfont-harmony-sans-sc@1.0.0/fonts/HarmonyOS_Sans_SC_Regular.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/npm/@ayahub/webfont-harmony-sans-sc@1.0.0/fonts/HarmonyOS_Sans_SC_Regular.woff")
            format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HarmonyOS Sans SC";
    src:
        local(HarmonyOS_Sans_SC_Medium),
        local("HarmonyOS Sans SC Regular Medium"),
        url("https://cdn.jsdelivr.net/npm/@ayahub/webfont-harmony-sans-sc@1.0.0/fonts/HarmonyOS_Sans_SC_Medium.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/npm/@ayahub/webfont-harmony-sans-sc@1.0.0/fonts/HarmonyOS_Sans_SC_Medium.woff")
            format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "HarmonyOS Sans SC";
    src:
        local(HarmonyOS_Sans_SC_Bold),
        local("HarmonyOS Sans SC Bold"),
        url("https://cdn.jsdelivr.net/npm/@ayahub/webfont-harmony-sans-sc@1.0.0/fonts/HarmonyOS_Sans_SC_Bold.woff2")
            format("woff2"),
        url("https://cdn.jsdelivr.net/npm/@ayahub/webfont-harmony-sans-sc@1.0.0/fonts/HarmonyOS_Sans_SC_Bold.woff")
            format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

main {
    font-family: "mononoki", "HarmonyOS Sans SC";
}

/* for code */
code,
kbd,
pre,
samp {
    font-family: "mononoki", "HarmonyOS Sans SC";
}
